<!--
    Developer Linkedin Inglish : https://br.linkedin.com/in/charly-milhomem-76156637/en
    Developer Linkedin Português : https://br.linkedin.com/in/charly-milhomem-76156637
-->

<h1>Registration confirmation</h1>

<div>
    <p>
        Thank you for confirming your registration. Please <a asp-action="Login">Click here to login</a>.
    </p>
</div>