
<!--
    Developer Linkedin Inglish : https://br.linkedin.com/in/charly-milhomem-76156637/en
    Developer Linkedin Português : https://br.linkedin.com/in/charly-milhomem-76156637
-->
<h1>Successfully registered</h1>

<p>
    Your password has been changed. Please <a asp-action="Login">Click here to login</a>.
</p>