<!--
    Developer Linkedin Inglish : https://br.linkedin.com/in/charly-milhomem-76156637/en
    Developer Linkedin Português : https://br.linkedin.com/in/charly-milhomem-76156637
-->
<h1>Reset email sent successfully</h1>

<p>
    The link was sent please check your email to reset your password.
</p>